url("https://fonts.googleapis.com/css?family=Modak");

html{
	background-color:#979190;
}
p{
	color: rgb(69, 65, 71);
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: left;
	font-family: 'Alegreya Sans SC';
	font-size: 20px;
	line-height: 120%;
	/* border: 5px solid black; */
}
.content{
	text-align: center;
	margin-top: 30px;
	/* margin-left: auto; */
	height:10px;
	/* left: 50%; */
	/* margin-right: auto; */
	/* position: absolute; */
}

body {
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	background-color: #e5e7e3 ;
	padding: 0 20px 20px 20px;
}

/* h1{
	font-size:70px;
	text-align:center;
} */
.header{
	
	height: 150px;
	display: block;
	font-size: 100px;
	line-height: 84%;
	font-family: Modak;
	text-align: center;
	/* padding-left: auto; */
	background-clip: text;
	-webkit-background-clip: text;
	color: #141311 ;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 7px 7px 0px #d2d2d22e;
	/* border: 5px solid black; */
	
}

.video{
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
}
