url("https://fonts.googleapis.com/css?family=Modak");

html{
    background-color:#979190;
}

body {
    background-color:#e5e7e3;
    /* margin-left:120px;
    margin-right:120px;
    position:absolute; */
	width: 1000px;
	height: 1000px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 150px;
	margin: 0 auto;
	margin-top: 50px;
    /* background-color: #e5e7e3 ; */
	padding: 0 20px 20px 20px;
}
p{  
    line-height: 1.5;
}
/* h1{
	font-size:70px;
	text-align:center;
} */
li{
    line-height: 1.5;
    
}
